@font-face {
    font-family: 'LatoRegular';
    src: local('Lato'), url(../src/lib/assets/fonts/Lato/Lato-Regular.ttf) format('opentype');
}

@font-face {
    font-family: 'LatoLight';
    src: local('Lato'), url(../src/lib/assets/fonts/Lato/Lato-Light.ttf) format('opentype');
}

@font-face {
    font-family: 'LatoBold';
    src: local('Lato'), url(../src/lib/assets/fonts/Lato/Lato-Bold.ttf) format('opentype');
}

:root {
    --myBlue: #004174;
    --mySea: #007888;
    --myDarkBlue: #00233D;
    --myDarkSea: #00363D;
    --myGreen: #258003;
    --myRed: #C92318;
    --myBoxShadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 -2px 4px rgba(0, 0, 0, 0.10);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: LatoRegular, serif;
}

p {
    font-family: LatoLight, serif;
    font-size: 14pt;
}

label {
    font-family: LatoBold, serif;
    font-size: 12pt;
    color: var(--mySea)
}

input,
button {
    border-radius: 5px;
    border-width: 1px;
    height: 40px;
    padding: 0px;
    font-family: LatoRegular, serif;
    font-size: 12pt;
    color: var(--myDarkBlue)
}

button {
    cursor: pointer;
}

h1 {
    font-size: 20pt;
}

h2 {
    font-size: 16pt;
}

a {
    font-family: LatoRegular, serif;
    font-size: 12pt;
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: inherit;
}

div.page {
    position: fixed;
    width: 90%;
    height: 100vh;
    left: 10%;
    top: 0;
    overflow: scroll;
}
